.vscode/

Kanban.API/appsettings.Development.json
Kanban.API/appsettings.json


Kanban.API/[Dd]ebug/
Kanban.API/[Dd]ebugPublic/
Kanban.API/[Rr]elease/
Kanban.API/[Rr]eleases/
Kanban.API/x64/
Kanban.API/x86/
Kanban.API/build/
Kanban.API/bld/
Kanban.API/[Bb]in/
Kanban.API/[Oo]bj/
Kanban.API/msbuild.log
Kanban.API/msbuild.err
Kanban.API/msbuild.wrn